<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photos</title>
</head>
<body>
    <h1>Photos</h1>
    <a href="{{ url_for('upload') }}" class="button">Upload</a>
    <br>
    <a href="{{ url_for('download') }}" class="button">Search & Download</a>

    
    <br><br>
    <!-- Replace "image1.jpg", "image2.jpg", etc. with the actual paths to the images on your EC2 instance -->
    <img src="image1.jpg" alt="Image 1">
    <!-- Add more <img> tags for additional images -->

</body>
</html>

